$color-white: #ffff;
$card-padding: 2rem 0;
//card design 1

$bg-main: #f3fbfb;
$card-color: #fff;
$orange: #fc9c6c;
$violet: violet;
$blue: #6c9cfc;
$shadow: 0 0.5rem 1rem #eee;

// Card Design 2

$crd2-bg: #f1e2f5;
$crd2-primary: #1a2653;
