@import "_variables";
@import "_mixins";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  background: $bg-main;
  font-family: "Poppins", sans-serif;
}
// CARD DESIGN 1
.card-design-1 {
  background: $color-white;
  padding: $card-padding;
  .card-header {
    @include card-header;
  }

  .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 2rem;
    gap: 4rem;

    .card-1 {
      min-width: 300px;
      background: $card-color;
      padding: 1.5rem;
      border-radius: 0.8rem;
      box-shadow: $shadow;

      h3 {
        font-weight: 700;
        margin-left: 1rem;
      }

      .card {
        padding: 1rem;
        margin: 0.7rem 0.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 0.5rem;
        transition: all 400ms ease;
        cursor: pointer;

        .card-left {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 0.8rem;

          .avatar {
            @include avatar-bg("orange");
          }

          .card-details {
            h5 {
              line-height: 0.8;
              font-size: 0.8rem;
            }
            p {
              margin-top: 0.5rem;
              line-height: 1.2;
              font-size: 0.7rem;
            }
          }
        }

        .badge {
          align-self: flex-start;
          border: 2px solid #eee;
          height: 1.2rem;
          width: 1.2rem;
          padding: 0.5rem;
          border-radius: 40%;

          display: flex;
          align-items: center;
          justify-content: center;

          p {
            font-size: 0.7rem;
          }
        }

        &:nth-child(3) {
          .card-left {
            .avatar {
              background: $violet;
            }
          }
        }

        &:nth-child(4) {
          .card-left {
            .avatar {
              background: $blue;
            }
          }
        }

        &:hover {
          background: rgba(0, 0, 0, 0.05);
        }
      }

      //     end Card

      .active {
        background: rgba(0, 0, 0, 0.05);
      }
    }

    //   card 2

    .card-2 {
      align-self: center;
      min-width: 15rem;
      background: #fff;
      padding: 1.5rem;
      box-shadow: $shadow;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;
      border-radius: 0.8rem;
      align-self: center;

      .card-left {
        display: flex;
        justify-content: flex-start;
        align-content: center;
        gap: 1rem;

        .avatar {
          @include avatar-bg("orange");
        }

        .card-details {
          h4 {
            font-size: 0.8rem;
            line-height: 0.8;
          }
          p {
            font-size: 0.7rem;
            margin-top: 0.5rem;
            line-height: 1.2;
          }
        }
      }
      button {
        outline: 0;
        border: 0;
        padding: 0.8rem 2rem;
        display: block;
        background: #563a75;
        color: #fff;
        font-size: 0.7rem;
        border-radius: 0.2rem;
        box-shadow: $shadow;
      }
      nav {
        // padding: 0 0.7rem;

        ul {
          display: flex;
          justify-content: center;
          flex-direction: column;
          gap: 0.5rem;

          li {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: 2.5rem;
            width: 100%;
            padding: 0 0.5rem;
            border-radius: 0.2rem;
            transition: all 400ms ease;
            cursor: pointer;

            a {
              text-decoration: none;
              color: #000;
              font-size: 0.9rem;
            }

            &:hover {
              background: rgba(0, 0, 0, 0.05);
            }
          }
          .active {
            background: rgba(0, 0, 0, 0.05);
          }
        }
      }
    }
  }

  //   End Card Design 1
}

// CARD Design 2
.card-design-2 {
  padding: $card-padding;
  .card-header {
    @include card-header;
  }

  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;

    .tag-component {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      gap: 1rem;
      align-items: flex-start;
      max-width: 40rem;
      margin-top: 2rem;
      background: $crd2-bg;
      padding: 2rem;
      align-content: flex-start;
      border: 0.5rem solid $color-white;
      border-radius: 0.7rem;
      box-shadow: $shadow;

      .tags {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        gap: 0.8rem;

        .tag {
          padding: 0.5rem;
          background: $color-white;
          border-radius: 0.7rem;

          p {
            font-size: 0.8rem;
            color: $crd2-primary;
            font-weight: 500;
          }
        }

        .active {
          background: $crd2-primary;

          p {
            color: $color-white;
          }
        }
      }
    }

    // search
    .search-wrapper {
      background: $color-white;
      padding: 0.4rem;
      width: 40rem;
      box-shadow: $shadow;
      border-radius: 0.7rem;

      .search {
        background: $crd2-bg;
        padding: 2rem;
        display: flex;
        justify-content: space-between;
        gap: 0.5rem;
        border-radius: 0.6rem;

        .form-control {
          margin: 0 auto;
          width: 100%;
          display: flex;
          align-items: center;

          input {
            outline: none;
            border: none;
            height: 2rem;
            width: 100%;
            padding: 1.5rem 1rem;
            padding-left: 3rem;
            border-radius: 0.8rem;
            font-family: inherit;
          }

          ion-icon {
            position: absolute;
            margin-left: 1rem;
            font-size: 1.5rem;
          }
        }

        button {
          border: 0;
          padding: 0 1.5rem;
          background: $crd2-primary;
          color: $color-white;
          font-size: 0.9rem;
          border-radius: 0.8rem;
        }
      }
    }

    // recent post
    .recent-wrapper {
      background: $color-white;
      padding: 0.4rem;
      width: 30rem;
      box-shadow: $shadow;
      border-radius: 0.7rem;

      .recent {
        background: $crd2-bg;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        align-items: flex-start;
        box-shadow: $shadow;
        border-radius: 0.6rem;

        nav {
          margin: 0.9rem 0;
          width: 100%;
          ul {
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            gap: 0.5rem;
            li {
              width: 100%;
              height: 3rem;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              border-radius: 0.7rem;

              a {
                text-decoration: none;
                color: $crd2-primary;
                padding: 0 1.5rem;
              }
            }

            .active {
              background: white;
              box-shadow: 0 0.1rem 1rem #0000;
            }
          }
        }
      }
    }
  }
  //   End Card Design 2
}
